<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/saber.ico" />
    <link rel ="apple-touch-icon" href="/media/apple-touch-icon.png" />
	<title>{{ page.title }} {{ page.top }}</title>
	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
	
	<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/css/screen.css" />

</head>
<body>

<div id='site'>
	<div id='header'></div>
	<script type="text/javascript" src="{{ ASSET_PATH }}/js/default.bundle.js"></script>


	{{content}}

	<div id="footer">
		<p>版权所有 2023-2024 Zzen1sS 保留一切权利  <a class="bottom-font sm-a" href="http://beian.miit.gov.cn">苏ICP备2024104927号-1</a></p>
	</div>
</div>
</body>
</html>
